<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Londrina+Outline" rel='stylesheet' type='text/css' />
  <div class="cd-wrapper">
  <div class="cd-outer-top-left">
    <div class="cd-inner-top-left"></div>
  </div>

  <div class="cd-outer-top-right">
    <div class="cd-inner-top-right"></div>
  </div>

  <div class="cd-outer-btm-left">
    <div class="cd-inner-btm-left"></div>
  </div>

  <div class="cd-outer-btm-right">
    <div class="cd-inner-btm-right"></div>
  </div>

  <div class="cd-pointer"></div>

  <div class="cd-number-wrapper">
    <span class="cd-number-five">5</span>
    <span class="cd-number-four">4</span>
    <span class="cd-number-three">3</span>
    <span class="cd-number-two">2</span>
    <span class="cd-number-one">1</span>
  </div>
  </div>